<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.nolist.mapper.ListingNolistMapper">

    <resultMap type="com.ruoyi.wms.nolist.domain.ListingNolist" id="ListingNolistResult">
        <result property="id" column="id"/>
        <result property="listingCode" column="listing_code"/>
        <result property="onlyCode" column="only_code"/>
        <result property="mpCode" column="mp_code"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="goodsName" column="goods_name"/>
        <result property="model" column="model"/>
        <result property="measureUnit" column="measure_unit"/>
        <result property="charg" column="charg"/>
        <result property="locationCode" column="location_code"/>
        <result property="locationName" column="location_name"/>
        <result property="trayCode" column="tray_code"/>
        <result property="listingTime" column="listing_time"/>
        <result property="listingStatus" column="listing_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.nolist.domain.ListingNolist">
        select
            id,
            listing_code,
            only_code,
            mp_code,
            goods_code,
            goods_name,
            model,
            measure_unit,
            charg,
            location_code,
            location_name,
            tray_code,
            listing_time,
            listing_status,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from
            wms_listing_nolist
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
