<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.stock.mapper.DryOutbillMapper">

    <resultMap type="com.ruoyi.wms.stock.domain.DryOutbill" id="WmsDryOutbillResult">
        <result property="id" column="id"/>
        <result property="dryOutbillCode" column="dry_outbill_code"/>
        <result property="dryOutbillStatus" column="dry_outbill_status"/>
        <result property="dryOutbillTime" column="dry_outbill_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.stock.domain.DryOutbill">
        select
            id,
            dry_outbill_code,
            dry_outbill_status,
            dry_outbill_time,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from
            wms_dry_outbill
        <where>
            ${ew.sqlSegment}
        </where>
        order by create_time desc
    </select>

    <select id="getGoodsList" resultType="com.ruoyi.wms.stock.domain.Tblstock">
        select * from (SELECT
            id,charg,only_code,
            parts_code,
            goods_code,lock_status,
            goods_name,
            model,
            measure_unit,
            area_code,
            (select a.area_type from wms_warehouse_area a where a.del_flag=0 and a.area_code=b.area_code) area_type,
            area_name,
            location_code,
            location_name,
            tray_code,
            warehouse_code,
            warehouse_name,
            listing_time inBillDate,
            del_flag,'1' goodsNum,
            (select dig.dry_inbill_time from wms_dry_inbill_goods dig where dig.parts_code=parts_code order by dig.dry_inbill_time desc limit 1) lastDryDate
        FROM
            wms_warehouse_tblstock b) t
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectByGoods" resultType="com.ruoyi.wms.stock.domain.DryOutbillGoods">
        SELECT
        id,
        parts_code,
        goods_code,
        goods_name,
        model,
        measure_unit,
        area_code,
        area_name,
        location_code,
        location_name,
        tray_code,
        warehouse_code,
        warehouse_name
        FROM
        wms_dry_outbill_goods
        WHERE dry_outbill_code = #{p.dryOutbillCode}
    </select>

    <select id="selectByAreaCode" resultType="com.ruoyi.wms.stock.domain.DryOutbill">
        SELECT
        DISTINCT o.id,
        o.dry_outbill_code,
        o.dry_outbill_status,
        o.dry_outbill_time,
        o.del_flag,
        o.create_by,
        o.create_time,
        o.update_by,
        o.update_time,
        o.remark
        FROM
        wms_dry_outbill o
        LEFT JOIN wms_dry_outbill_goods g ON o.dry_outbill_code = g.dry_outbill_code
        <where>
            ${ew.sqlSegment}
        </where>
        order by create_time desc,dry_outbill_time desc
    </select>

    <select id="getDryOutbillGoods" resultType="com.ruoyi.wms.stock.domain.DryOutbillGoods">
        SELECT
        id,
        dry_outbill_code,charg,dry_outbill_time,
        parts_code,
        goods_code,
        goods_name,
        model,
        measure_unit,
        area_code,
        area_name,
        location_code,
        location_name,
        tray_code,
        warehouse_code,
        warehouse_name,
        goods_num
        FROM
        wms_dry_outbill_goods
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectByOutbillCode" resultType="com.ruoyi.wms.stock.domain.DryOutbillGoods">
        SELECT
        id,
        parts_code,
        goods_code,
        goods_name,
        model,
        measure_unit,
        area_code,
        area_name,
        location_code,
        location_name,
        tray_code,
        warehouse_code,
        warehouse_name,
        goods_num
        FROM
        wms_dry_outbill_goods
        where parts_code = #{ew.partsCode}
    </select>

    <update id="clickStart">
        UPDATE wms_dry_outbill SET dry_outbill_status = #{ew.dryOutbillStatus} where id = #{ew.id}
    </update>

    <update id="closeGoods">
        update wms_warehouse_tblstock set lock_status = #{ew.lockStatus} where del_flag='0' and parts_code = #{ew.partsCode}
    </update>

    <update id="updateRemarkById">
        UPDATE wms_dry_outbill SET remark = #{ew.remark} WHERE id = #{ew.id}
    </update>

    <update id="delDryOutbillGoods">
        UPDATE wms_dry_outbill_goods SET del_flag = #{ew.delFlag} WHERE dry_outbill_code = #{ew.dryOutbillCode}
    </update>

    <update id="clickGoodsStatus">
        UPDATE wms_dry_outbill_goods
        SET dry_outbill_status = #{ew.dryOutbillStatus}
        WHERE del_flag=0 and dry_outbill_code = #{ew.dryOutbillCode}
    </update>

</mapper>
