<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.check.mapper.CheckAdjustMapper">

    <resultMap type="com.ruoyi.wms.check.domain.CheckAdjust" id="CheckAdjustResult">
        <result property="id" column="id"/>
        <result property="checkBillCode" column="check_bill_code"/>
        <result property="adjustStatus" column="adjust_status"/>
        <result property="curtainNum" column="curtain_num"/>
        <result property="checkNum" column="check_num"/>
        <result property="profitNum" column="profit_num"/>
        <result property="lossNum" column="loss_num"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="checkBy" column="check_by"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.check.domain.CheckAdjust">
        select
            id,
            check_bill_code,
            adjust_status,
            curtain_num,
            check_num,
            profit_num,
            loss_num,
            start_time,
            end_time,
            del_flag,
            check_by,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from
            wms_warehouse_check_adjust
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
