<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.move.mapper.WmsMoveListMapper">

    <resultMap type="com.ruoyi.wms.move.domain.WmsMoveList" id="WmsMoveListResult">
        <result property="id" column="id"/>
        <result property="moveCode" column="move_code"/>
        <result property="moveStatus" column="move_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.move.domain.WmsMoveList">
        select
            id,
            move_code,
            move_status,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from
            wms_move_list
        <where>
            ${ew.sqlSegment}
        </where>
        order by create_time desc
    </select>

</mapper>
