<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.basics.mapper.AddressMapper">

    <resultMap type="com.ruoyi.wms.basics.domain.Address" id="AddressResult">
        <result property="id" column="id"/>
        <result property="company" column="company"/>
        <result property="receiver" column="receiver"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="postalCode" column="postal_code"/>
        <result property="province" column="province"/>
        <result property="address" column="address"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.basics.domain.Address">
        select
        id,
        receiver,
        company,
        mobile_phone,
        postal_code,
        province,
        address,
        remark,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time
        from
        wms_warehouse_address
        <where>
            ${ew.sqlSegment}
        </where>
        order by create_time desc
    </select>
    <select id="getAddressList" resultType="java.util.Map">
        select id value,
        CONCAT(CONCAT(company,'-',receiver),'-',CONCAT(CONCAT(mobile_phone,'-',province),'-',address)) label
        from wms_warehouse_address
        where del_flag = '0'
    </select>

</mapper>
