<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.basics.mapper.LocationMapper">

    <resultMap type="com.ruoyi.wms.basics.domain.Location" id="LocationResult">
        <result property="id" column="id"/>
        <result property="locationCode" column="location_code"/>
        <result property="locationName" column="location_name"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="areaId" column="area_id"/>
        <result property="trayCode" column="tray_code"/>
        <result property="columnNum" column="column_num"/>
        <result property="platoon" column="platoon"/>
        <result property="layer" column="layer"/>
        <result property="orderNum" column="order_num"/>
        <result property="locationType" column="location_type"/>
        <result property="enableStatus" column="enable_status"/>
        <result property="totalCapacity" column="total_capacity"/>
        <result property="tolerableWeight" column="tolerable_weight"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="select" resultType="com.ruoyi.wms.basics.domain.Location">
        select
        id,
        location_code,
        location_name,
        column_num,
        platoon,
        layer,
        location_type,
        location_arrow,
        order_num,
        goods_code,
        enable_status,
        tray_code,
        (select CONCAT(warehouse_code,'-',warehouse_name) from wms_warehouse_info where del_flag = '0' and
        warehouse_code=warehouse_id)warehouse_id,
        (select CONCAT(area_code,'-',area_name) from wms_warehouse_area where del_flag = '0' and
        area_code=area_id)area_id,
        total_capacity,
        tolerable_weight,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from
        wms_warehouse_location
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="checkCode" resultType="java.lang.Integer">
        select count(*) from wms_warehouse_location where location_code=#{object.locationCode} and del_flag = '0'
        <if test="object.id!=null and object.id!=''">
            and id != #{object.id}
        </if>
    </select>

    <select id="checkName" resultType="java.lang.Integer">
        select count(*) from wms_warehouse_location where location_name=#{object.locationName} and del_flag = '0'
        <if test="object.id!=null and object.id!=''">
            and id != #{object.id}
        </if>
    </select>

    <select id="selectDataByCode" resultType="com.ruoyi.wms.basics.domain.Location">
        select * from wms_warehouse_location where location_code=#{locationCode} and del_flag = '0'
    </select>

    <select id="getLocationData" resultType="java.util.Map">
        select location_code value,
        CONCAT(location_code,'-',location_name) label
        from wms_warehouse_location
        where del_flag = '0' and enable_status = '0'
        <if test="object.areaId != null and object.areaId != ''">
            and area_id = #{object.areaId}
        </if>
        order by location_code desc
    </select>

    <select id="selectDataByAreaCode" resultType="java.lang.Integer">
        select count(*) from wms_warehouse_location where area_id=#{areaCode}  and del_flag = '0'
    </select>


    <update id="lockLocation">
        update wms_warehouse_location set lock_status = '1' where lock_status='0' and del_flag='0'
        <if test="locations != null and locations!=''">
            and location_code in
            <foreach collection="locations" item="locationCode" index="index" open="(" close=")" separator=",">
                #{locationCode}
            </foreach>
        </if>
    </update>

    <select id="countCapacityByArea" resultType="java.math.BigDecimal">
        select SUM(total_capacity) from wms_warehouse_location where del_flag='0' and enable_status = '0' and area_id=#{areaCode}
    </select>

    <select id="countAvailableCapacityByArea" resultType="java.math.BigDecimal">
        select SUM(tolerable_weight) from wms_warehouse_location where del_flag='0' and enable_status = '0' and area_id=#{areaCode}
    </select>

    <select id="countCapacityByHouse" resultType="java.math.BigDecimal">
        select SUM(total_capacity) from wms_warehouse_location where del_flag='0' and enable_status = '0' and warehouse_id=#{warehouseCode}
    </select>

    <select id="countAvailableCapacityByHouse" resultType="java.math.BigDecimal">
        select SUM(tolerable_weight) from wms_warehouse_location where del_flag='0' and enable_status = '0' and warehouse_id=#{warehouseCode}
    </select>


    <select id="getEmptyLocation" resultType="com.ruoyi.wms.basics.bo.EmptyLocationBo">
        select a.location_code locationCode,a.location_type locationType,a.location_arrow locationArrow,a.order_num orderNum,a.goods_code goodsCode
        from wms_warehouse_location a
        left join wms_warehouse_area b on a.area_id = b.area_code
        where a.lock_status = '0'
        and a.tray_code is null
        and a.del_flag = '0'
        and a.enable_status = '0'
        and b.del_flag = '0'
        and b.area_code = #{areaCode}
        and a.location_name not like '%移库%'
        order by a.column_num,a.layer,a.location_type desc,a.order_num
        limit #{limit}
    </select>

    <select id="getEmptyLocationlhq" resultType="com.ruoyi.wms.basics.bo.EmptyLocationBo">
        select a.location_code locationCode,a.location_type locationType,a.location_arrow locationArrow,a.order_num orderNum,a.goods_code goodsCode
        from wms_warehouse_location a
                 left join wms_warehouse_area b on a.area_id = b.area_code
        where a.lock_status = '0'
          and a.tray_code is null
          and a.del_flag = '0'
          and a.enable_status = '0'
          and b.del_flag = '0'
          and b.area_code = #{areaCode}
          and a.location_name not like '%移库%'
            and a.location_code IN
        <foreach item="locationCode" collection="locationCodes" open="(" separator="," close=")">
            #{locationCode}
        </foreach>
        order by a.column_num,a.layer,a.location_type desc,a.order_num
        limit #{limit}
    </select>


    <select id="getDryAreaEmptyLocation" resultType="com.ruoyi.wms.basics.bo.EmptyLocationBo">
        select a.location_code locationCode,a.location_type locationType,a.location_arrow locationArrow,a.order_num orderNum
        from wms_warehouse_location a
        left join wms_warehouse_area b on a.area_id = b.area_code
        where a.lock_status = '0'
        and a.tray_code is null
        and a.del_flag = '0'
        and a.enable_status = '0'
        and b.del_flag = '0'
        and b.area_code = #{areaCode}
        and a.location_name not like '%移库%'
        order by a.order_num
        limit #{limit}
    </select>

    <select id="listByParams" resultType="com.ruoyi.wms.basics.domain.Location">
        select
        id,
        location_code,
        location_name,
        column_num,
        platoon,
        layer,
        tray_code,
        (select CONCAT(warehouse_code,'-',warehouse_name) from wms_warehouse_info where del_flag = '0' and
        warehouse_code=warehouse_id)warehouse_id,
        (select CONCAT(area_code,'-',area_name) from wms_warehouse_area where del_flag = '0' and
        area_code=area_id)area_id,
        total_capacity,
        tolerable_weight,
        enable_status,
        goods_code,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from
        wms_warehouse_location
        <where>
            ${ew.sqlSegment}
        </where>
        order by
        area_id,
        layer,
        platoon,
        column_num,
        order_num,
        create_time desc
    </select>
    <select id="isLocked" resultType="com.ruoyi.wms.basics.domain.Location">
        select location_code from wms_warehouse_location where del_flag='0' and lock_status='1' and location_code in
        <foreach collection="locations" item="locationCode" index="index" open="(" close=")" separator=",">
            #{locationCode}
        </foreach>
    </select>
    <select id="checkOrder" resultType="java.lang.Integer">
        select count(*) from wms_warehouse_location where del_flag = '0' and order_num=#{object.orderNum}
        <if test="object.locationCode!=null and object.locationCode!=''">
            and location_code != #{object.locationCode}
        </if>
        <if test="object.areaId!=null and object.areaId!=''">
            and area_Id = #{object.areaId}
        </if>
        <if test="object.id!=null and object.id!=''">
            and id != #{object.id}
        </if>
    </select>


</mapper>
